extends layouts/default

block navbar
    nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
        .navbar-header
            button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
                span.sr-only Activar navegación
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="#") Prueba Logs
        div.collapse.navbar-collapse#bs-example-navbar-collapse-1
            ul.nav.navbar-nav
                li.active
                    a(href="#") Página principal
                li
                    a(href="#") Menu 1
                li
                    a(href="#") Menu 2
                li
                    a(href="#") Menu 3
            form.navbar-form.navbar-left(role="search")
                div.form-group
                    input.form-control(type="text" placeholder="Search")
                button.btn.btn-default(type="submit") Buscar
            ul.nav.navbar-nav.navbar-right
                li.dropdown
                    a.dropdown-toggle(href="#" data-toggle="dropdown") #{user.nickname}
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href="/perfil") Mi perfil
                        li.divider
                        li
                            a(href="#") Gestionar mi cuenta
                        li
                            a(href="#") Opciones
                        li.divider
                        li
                            a(href="/logout") Desconectar

block content
    div.jumbotron
        h1 Lorem ipsum dolor sit amet.
        p Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
        p
            //a.btn.btn-primary.btn-lg(role="button" href="http://www.forocoches.com/foro/showthread.php?t=3297308") Hilo oficial de Forocoches